In [1]:
from itertools import product
list1 = [1, 2, 3, 4, 5] # mutable
tuple1 = (1, 2, 3, 4, 5) # immutable
list2 = ['a', 'bc', 'cder']
# 1. what does immutale mean?

list1[1] = 10
#tuple1[1] = 10 # will give you an error because it is immutable
print 'list1:  {} '.format(list1)
print 'sorted: {}'.format(sorted(list1) )
print 'tuple1: {} '.format(tuple1)
print 'reversed list: {} '.format(list1[::-1])
list1.extend(list1)
print 'extended: {} '.format(list1)
str1 = '-'.join( list2)
print 'list to a string: {}'.format( str1 )
list1 = str1.split('-')
print 'back to list: {} '.format(list1)
print 'length of each part {} for list2 '.format(map(len, list2) )
print list(product([1,2,3],[4,5]))
print 'list comprehension: ', [i for i in range(1, 10)]
even = [i for i in range(1, 10) if i%2==0]

print 'even numbers: ', even
print 'even squares: ', [x*x for x in even]
print '0 has the same length as even list: ',[0 for _ in even]
f = lambda x: x + 5
x = lambda a, b, c: a* b* c
print 'lambda {}, {}'.format( f(5), x(2, 3, 4))

def func(n, b):
    return lambda x: x+ n + b
ten = func(10, 20)
print 'The power of lambda is better shown when you use them as an anonymous function inside another function.'
print ten(1)

print 'filter function: ',filter(lambda x: x > 5,[2, 4, 6, 8])
print 'map function: ', map(lambda x: x*x, [2, 4, 6, 8])
import functools
print 'reduce function: ', functools.reduce(lambda x, y: x * y, [2, 4, 6, 8])

print 'reduce returns accumulator while map returns sequence.'

list1:  [1, 10, 3, 4, 5]
sorted: [1, 3, 4, 5, 10]
tuple1: (1, 2, 3, 4, 5)
reversed list: [5, 4, 3, 10, 1]
extended: [1, 10, 3, 4, 5, 1, 10, 3, 4, 5]
list to a string: a-bc-cder
back to list: ['a', 'bc', 'cder']
length of each part [1, 2, 4] for list2
[(1, 4), (1, 5), (2, 4), (2, 5), (3, 4), (3, 5)]
list comprehension:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
even numbers:  [2, 4, 6, 8]
even squares:  [4, 16, 36, 64]
0 has the same length as even list:  [0, 0, 0, 0]
lambda 10, 24
The power of lambda is better shown when you use them as an anonymous function inside another function.
31
filter function:  [6, 8]
map function:  [4, 16, 36, 64]
reduce function:  384
reduce returns accumulator while map returns sequence.

In [2]:

# zip it
zipped1 = zip(list1, list1)
# unzip it
one, two = zip(* zipped1)
print 'zipped: {}, one: {}, two:{} '.format(zipped1, one, two)
# enumerate
for a, b in enumerate(list1):
    print "enumerate: {} {}".format(a, b)
# dict from lists
dict1 = dict(zip (list1, list1)) 

# gone for Python 3
for a, b in dict1.iteritems():
    print 'dict iteritem: {} {} '.format(a, b)
print "keys: {}, values: {}".format(dict1.keys(), dict1.values() )

zipped: [('a', 'a'), ('bc', 'bc'), ('cder', 'cder')], one: ('a', 'bc', 'cder'), two:('a', 'bc', 'cder')
enumerate: 0 a
enumerate: 1 bc
enumerate: 2 cder
dict iteritem: a a
dict iteritem: cder cder
dict iteritem: bc bc
keys: ['a', 'cder', 'bc'], values: ['a', 'cder', 'bc']

In [3]:
# file writing with append 
with open('text.txt', 'a+') as file1:
    file1.write('hello')

In [4]:
# generators and iterators: takes more than 1 item and unlike return, it is not stored in the memory 
def arguments():
    yield 1
    yield 2
    yield 3
    
for i in arguments():
    print 'yield: ', i

def args(*args, **kwargs):
    yield 'arguments: {}'.format(args) 
    yield 'key word arguments {} '.format(kwargs)
    
for i in args(1, 2, key='key', key2='word'):
    print i

yield:  1
yield:  2
yield:  3
arguments: (1, 2)
key word arguments {'key2': 'word', 'key': 'key'}

In [5]:
# pandas
import pandas as pd
import numpy as np

df1 = pd.DataFrame(data =list(zip([1, 2, 3, 4,  '', 6],['a', 'c', 'b', 'e', 'd', 'f'], [10, 20, 30, 40, 50, 60])),
                   index = range(0,6), columns= ['fir', 'sec', 'thi'])
print df1.sort_values('sec')
print df1.dtypes
print df1['sec'].map(str.upper )
# ranks assigns values
print df1.sort_values(by='fir', ascending = False).rank()

  fir sec  thi
0   1   a   10
2   3   b   30
1   2   c   20
4       d   50
3   4   e   40
5   6   f   60
fir    object
sec    object
thi     int64
dtype: object
0    A
1    C
2    B
3    E
4    D
5    F
Name: sec, dtype: object
   fir  sec  thi
4  6.0  4.0  5.0
5  5.0  6.0  6.0
3  4.0  5.0  4.0
2  3.0  2.0  3.0
1  2.0  3.0  2.0
0  1.0  1.0  1.0

In [6]:
f = lambda x : x **0.5
f1 =lambda x: x + x
#df1.applymap(f)

df2 = pd.DataFrame(np.random.randn(4, 3)*100, columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df2 = df2.drop_duplicates()
print df2, '\n'
print 'Applying a function on arrays to each column or row. 1) Apply for both DF and Series, 2) Applymap for DF and \
 3) Map for Series!\n'
print 'apply is  \n', df2.apply(f1)
print 'applymap is for df: \n',df2.applymap(f1), '\n'
print 'map is for series or columns: ',df2['b'].map(f1),'\n', df2['b'].apply(f1), '\n'
print '50% being sampled: \n',df2.sample(frac=0.5), '\n'
print 'first 3 rows: ',df2.iloc[0:3]

                 b           d           e
Utah   -169.223126   17.669819  136.937262
Ohio    -80.035736   93.079450 -157.892276
Texas    -2.985120   16.952786 -167.780630
Oregon  111.205885 -143.355786 -248.901957

Applying a function on arrays to each column or row. 1) Apply for both DF and Series, 2) Applymap for DF and  3) Map for Series!

apply is
                 b           d           e
Utah   -338.446252   35.339637  273.874525
Ohio   -160.071473  186.158900 -315.784553
Texas    -5.970240   33.905573 -335.561260
Oregon  222.411770 -286.711573 -497.803914
applymap is for df:
                 b           d           e
Utah   -338.446252   35.339637  273.874525
Ohio   -160.071473  186.158900 -315.784553
Texas    -5.970240   33.905573 -335.561260
Oregon  222.411770 -286.711573 -497.803914

map is for series or columns:  Utah     -338.446252
Ohio     -160.071473
Texas      -5.970240
Oregon    222.411770
Name: b, dtype: float64
Utah     -338.446252
Ohio     -160.071473
Texas      -5.970240
Oregon    222.411770
Name: b, dtype: float64

50% being sampled:
               b          d           e
Texas  -2.985120  16.952786 -167.780630
Ohio  -80.035736  93.079450 -157.892276

first 3 rows:                  b          d           e
Utah  -169.223126  17.669819  136.937262
Ohio   -80.035736  93.079450 -157.892276
Texas   -2.985120  16.952786 -167.780630

In [7]:
print 'dropping column: \n'
#df1.drop(columns = ['sec'], inplace=True)# df1.drop(['sec'], axis=1, inplace=True)
print df1.reset_index(drop=True)# so that index doesn't become a column
print df1.rename(columns={'fir':'first'}), '\n'
print 'method chaining: '
df3 = pd.melt(df1).rename(columns={'variable':'var'}).query('value>=4')
print df3
df4 = df3.pivot(columns='var', values='value').reset_index(drop=True)
print df4
#print df4.reset_index(inplace=True)

dropping column:

  fir sec  thi
0   1   a   10
1   2   c   20
2   3   b   30
3   4   e   40
4       d   50
5   6   f   60
  first sec  thi
0     1   a   10
1     2   c   20
2     3   b   30
3     4   e   40
4         d   50
5     6   f   60

method chaining:
    var value
3   fir     4
4   fir
5   fir     6
6   sec     a
7   sec     c
8   sec     b
9   sec     e
10  sec     d
11  sec     f
12  thi    10
13  thi    20
14  thi    30
15  thi    40
16  thi    50
17  thi    60
var  fir  sec  thi
0      4  NaN  NaN
1         NaN  NaN
2      6  NaN  NaN
3    NaN    a  NaN
4    NaN    c  NaN
5    NaN    b  NaN
6    NaN    e  NaN
7    NaN    d  NaN
8    NaN    f  NaN
9    NaN  NaN   10
10   NaN  NaN   20
11   NaN  NaN   30
12   NaN  NaN   40
13   NaN  NaN   50
14   NaN  NaN   60

In [8]:
print df2.nunique(),' vs \n', df2['b'].value_counts()

b    4
d    4
e    4
dtype: int64  vs
 111.205885    1
-2.985120      1
-80.035736     1
-169.223126    1
Name: b, dtype: int64

In [9]:
df2['a'] = df2['b']*df2['d']

df2 = df2.assign(c = lambda df2: df2.a+df2.b)
print df2

                 b           d           e             a             c
Utah   -169.223126   17.669819  136.937262  -2990.141936  -3159.365062
Ohio    -80.035736   93.079450 -157.892276  -7449.682347  -7529.718083
Texas    -2.985120   16.952786 -167.780630    -50.606104    -53.591225
Oregon  111.205885 -143.355786 -248.901957 -15942.007103 -15830.801218

In [10]:
print 'binning into 4 equally spaced buckets \n '
df2['f'] = pd.qcut(df2.b, 4)
print df2
print 'trimming values to the closest threshold: \n', df2[['b','d','e']].clip(lower=-10, upper=10)

binning into 4 equally spaced buckets

                 b           d           e             a             c  \
Utah   -169.223126   17.669819  136.937262  -2990.141936  -3159.365062
Ohio    -80.035736   93.079450 -157.892276  -7449.682347  -7529.718083
Texas    -2.985120   16.952786 -167.780630    -50.606104    -53.591225
Oregon  111.205885 -143.355786 -248.901957 -15942.007103 -15830.801218

                           f
Utah    (-169.224, -102.333]
Ohio      (-102.333, -41.51]
Texas       (-41.51, 25.563]
Oregon     (25.563, 111.206]
trimming values to the closest threshold:
               b     d     e
Utah   -10.00000  10.0  10.0
Ohio   -10.00000  10.0 -10.0
Texas   -2.98512  10.0 -10.0
Oregon  10.00000 -10.0 -10.0

In [11]:
print df2[['b','d','e']].cumsum()#.size()
print df2[['b','d','e']].shift(1)
print df2[['b','d','e']].shift(-1)
print df2[['b','d','e']].rank(method='dense')
print df2[['b','d','e']].rank(pct=True)
print df2[['b','d','e']].rank(method='first')

                 b           d           e
Utah   -169.223126   17.669819  136.937262
Ohio   -249.258862  110.749269  -20.955014
Texas  -252.243982  127.702055 -188.735644
Oregon -141.038097  -15.653731 -437.637601
                 b          d           e
Utah           NaN        NaN         NaN
Ohio   -169.223126  17.669819  136.937262
Texas   -80.035736  93.079450 -157.892276
Oregon   -2.985120  16.952786 -167.780630
                 b           d           e
Utah    -80.035736   93.079450 -157.892276
Ohio     -2.985120   16.952786 -167.780630
Texas   111.205885 -143.355786 -248.901957
Oregon         NaN         NaN         NaN
          b    d    e
Utah    1.0  3.0  4.0
Ohio    2.0  4.0  3.0
Texas   3.0  2.0  2.0
Oregon  4.0  1.0  1.0
           b     d     e
Utah    0.25  0.75  1.00
Ohio    0.50  1.00  0.75
Texas   0.75  0.50  0.50
Oregon  1.00  0.25  0.25
          b    d    e
Utah    1.0  3.0  4.0
Ohio    2.0  4.0  3.0
Texas   3.0  2.0  2.0
Oregon  4.0  1.0  1.0

In [12]:
print df2[['b','d','e']]
print df2[['b','d','e']].expanding().count()#.sum(), max(), mean() all the functions can be applied
print df2[['b','d','e']].agg(sum)

                 b           d           e
Utah   -169.223126   17.669819  136.937262
Ohio    -80.035736   93.079450 -157.892276
Texas    -2.985120   16.952786 -167.780630
Oregon  111.205885 -143.355786 -248.901957
          b    d    e
Utah    1.0  1.0  1.0
Ohio    2.0  2.0  2.0
Texas   3.0  3.0  3.0
Oregon  4.0  4.0  4.0
b   -141.038097
d    -15.653731
e   -437.637601
dtype: float64

In [13]:
print df2[['b','d','e']]
print df2[['b','d','e']].rolling(3).sum()

                 b           d           e
Utah   -169.223126   17.669819  136.937262
Ohio    -80.035736   93.079450 -157.892276
Texas    -2.985120   16.952786 -167.780630
Oregon  111.205885 -143.355786 -248.901957
                 b           d           e
Utah           NaN         NaN         NaN
Ohio           NaN         NaN         NaN
Texas  -252.243982  127.702055 -188.735644
Oregon   28.185028  -33.323550 -574.574863

In [14]:
df3 = df2[['b','d','e']]

df4 =pd.DataFrame(np.random.randn(4, 3), columns = list('abc'), index = ['Utah', 'TX', 'NY', 'IL' ])
print df4
print df3

             a         b         c
Utah  2.254300 -1.003817  1.308024
TX   -0.742176  0.976068  0.064217
NY    1.175267  0.651158  0.699853
IL    0.135990  1.179680 -0.163206
                 b           d           e
Utah   -169.223126   17.669819  136.937262
Ohio    -80.035736   93.079450 -157.892276
Texas    -2.985120   16.952786 -167.780630
Oregon  111.205885 -143.355786 -248.901957

In [15]:
df4.reset_index(inplace=True)
df3.reset_index(inplace=True)

    index           b           d           e
0    Utah -169.223126   17.669819  136.937262
1    Ohio  -80.035736   93.079450 -157.892276
2   Texas   -2.985120   16.952786 -167.780630
3  Oregon  111.205885 -143.355786 -248.901957

In [27]:
# set like operation: 
pd.merge(df4, df3, how='left', on = 'index', indicator=True).query('_merge == "left_only"').drop(columns=['_merge'])#right, outer, inner

  index         a       b_x         c  b_y   d   e
1    TX -0.742176  0.976068  0.064217  NaN NaN NaN
2    NY  1.175267  0.651158  0.699853  NaN NaN NaN
3    IL  0.135990  1.179680 -0.163206  NaN NaN NaN